*{
    margin: 0;
    padding: 0;
    font-family:'avenir', bold;
}

body {
    background-color: #000;
}
.HeleNettsiden{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,0.7)),url(Bilder/technology-phone-social-media-technology.jpeg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 8%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.row{
    display: flex;
    height: 85%;
    align-items: center;
}
@media screen and (max-width: 600px){
    .row{
        flex-direction: column;
    }
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 70px;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

.buttons button a{
    text-decoration: none;
    color: #000;
}

.buttons button{
    text-decoration: none;
    height: 40px;
    width: 90px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background:#fff ;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 25px; 
    transition: .5s;
}
.buttons{
    text-decoration: none;
    margin-left: 3px;
    margin-top: 30px;
    }
.buttons button:hover{
    background: #999 ;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.card3{
    background-image: url(Bilder/laptop-5437663_1280.png);
}
.card4{
    background-image: url(Bilder/4d8ac218e9e777858f1a33bc29d5-1449427.jpg!d.jpeg);
}

.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
    text-decoration: none;
}
.card h5 a{
    text-decoration: none;
    color: #fff;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
    color:#000;
}



    



